* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
}

nav {
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 100px;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    font-family: serif;
    font-size: 30px;
}

nav h1 span {
    font-family: serif;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    position: relative;
    color: #1d1d24;
    padding: 5px 0;
    font-weight: bold;
}

nav ul li a:hover {
    color: #fd4766;
}

nav ul li a::after {
    content: "";
    bottom: 0;
    left: 0;
    width: 0;
    position: absolute;
    height: 3px;
    background: #fd4766;
    transition: .3s;
}

nav ul li a:hover::after {
    width: 100%;
}

.btn {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    background: #fd4766;
    padding: 10px 30px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 555;
    transition: all .4s ease-in-out;
    border: 2px solid #fd4766;
    text-decoration: none;
}

.btn:hover {
    background: transparent;
    color: #fd4766;
    transform: scale(1.2);
}

.detail {
    margin-left: 8%;
    margin-top: 13%;
}

.detail h1 {
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

span {
    color: orange;
}

.detail p {
    color: #555;
    line-height: 22px;
}

.detail a {
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape {
    bottom: 40px;
}

.images:hover .girl {
    left: 45%;
}

/* SOCIALS */
.social {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    left: 10px;
    top: 30%;   
}

.social a i {
    font-size: 30px;
    color: #7c8bd1;
    transition: 0.3s;
}

.social i:hover {
    color: #6f34fe;
    transform: scale(1.2);
}

/* ABOUT */
.about {
    width: 100%;
    padding: 0px 0px;
    background: #f5f2f2;
}

.about img {
    height: 440px;
    width: 100%;
    max-width: 440px;
    border-radius: 50%;
    object-fit: cover;
    border: 7px solid orange;
    box-shadow: 0 0 20px orange;
}

.about-text {
    width: 550px;
}

.main {
    height: 700px;
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1 {
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p {
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 15px;
}

.exp-area {
    font-weight: 600;
    font-size: 19px;
    line-height: 42px;
}

.exp-area p span {
    font-weight: 400;
    color: rgb(241, 175, 60);
}
button {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    background: #fd4766;
    padding: 10px 30px;
    border-radius: 500px;
    font-weight: 555;
    transition: all .4s ease-in-out;
    border: 2px solid #fd4766;
    text-decoration: none;
    margin-bottom: 50px;
    margin-top: 25px;
}

button:hover {
    background: transparent;
    color: #fd4766;
    cursor: pointer;
}

/* SERVICES */
.services {
    background: #eff4fd;
    width: 100%;
    padding: 50px 0px;
}

.title h2 {
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:  400px;
}

.card {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background:#ecd969;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #fd4766;
}

h5 {
    font-size: 23px;
    margin-bottom: 15px;
}

.parag p {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    background: #fd4766;
    padding: 9px 22px;
    border-radius: 500px;
    font-weight: 555;
    transition: all .4s ease-in-out;
    border: 2px solid #fd4766;
    text-decoration: none;
    margin-bottom: 50px;
}

.card .button:hover {
    background: transparent;
    color: #fd4766;
    cursor: pointer;
}

/* SKILLS */
.skill {
    background: #eff4fd;
    width: 100%;
    padding: 100px 0px;
}

.title2 h2 {
    font-size: 75px;
    width: 1130px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.box2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height:  500px;
}

.card2 {
    padding: 10px 35px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card2 i {
    font-size: 100px;
    display: block;
    text-align: center;
    margin: 40px 0px;
    color:#4d5577;
}

.box2 h5 {
    font-size: 30px;
    margin-bottom: 15px;
    font-family: serif;
    color:#5c68a0;
}

.parag2 p {
    font-size: 19px;
    line-height: 27px;
    padding: 10px 0px;
    margin-bottom: 25px;
    color:#4f5a8b;
}


/* CONTACT */
.contact {
    width: 100%;
    height: 900px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #eff4fd;
}

.contact h2 {
    font-size: 75px;
    width: 1130px;
    margin-top: 60px;
    text-align: center;
}

.contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4.2rem;
}

.contact-form form{
    position: relative;
    width: 600px;
}

form input,
form textarea {
    width: 100%;
    padding: 20px;
    border: orange 1px solid;
    outline: none;
    background:#f8f8f7;
    color: black;
    margin-bottom: 20px;
    border-radius: 8px;
}

form input::placeholder,
form textarea::placeholder {
    color: black;
    font-size: 15px;
}

form .send-btn {
    display: inline-block;
    color: #fff;
    font-size: 15px;
    background: orange;
    padding: 9px 26px;
    border-radius: 8px;
    font-weight: 600;
    transition: all .50s ease-in-out;
    border: 2px solid orange;
    text-decoration: none;
    margin-bottom: 50px;
    width: 30%;
}

form .send-btn:hover {
    background: transparent;
    color: orange;
    cursor: pointer;
}

.contact p {
    font-size: 30px;
    font-weight: bold;
    margin: 70px auto;  
}

.contact .button-two {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    background: #fd4766;
    padding: 9px 22px;
    border-radius: 500px;
    font-weight: 555;
    transition: all .4s ease-in-out;
    border: 2px solid #fd4766;
    text-decoration: none;
    margin-bottom: 50px;
}

.contact .button-two:hover {
    background: transparent;
    color: #fd4766;
}

footer {
    margin-top: 70px;
    position: relative;
    width: 100%;
    height: 400px;
    background: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1) {
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2) {
    color: white;
    font-size: 17px;
    width: 500px; 
    text-align: center;
    line-height: 26px;
}

.socials-two {
    display: flex;
}

.socials-two a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fd4766;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.socials-two a:hover {
    transform: scale(1.2);
    transition: .3s;
}

.end {
    position: absolute;
    color: #fd4766;
    bottom: 35px;
    font-size: 14px;
}